#map {
    height: 700px;
    width: 100%;
    margin-right: 20px;
}

.targeta {
    margin-top: 10px;
    margin-bottom: 10px;
}


/*#mensaje {
        margin-top: 20px;
        position: fixed;
        width: 33%;
        bottom: 0;
        right: 0;
}*/

#seccion1 {
    padding-left: 0px;
    padding-right: 0px;
}

#seccion2 {
    padding-left: 0px;
    padding-right: 0px;
}

#mapa {
    position: fixed;
    bottom: 0;
    height: 98%;
    width: 33%;
    right: 16%;
}

.row {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}